:root {
    --background-color-light: #f2f2f3;
    --background-color-dark: #000000;
    --background-color-protrude-light: #ffffff;
    --background-color-protrude-dark: #1b1b1b;
    --background-color-protrude-hover-light: #fafafa;
    --background-color-protrude-hover-dark: #2a2a2a;
    --background-color-popover-light: rgba(247, 247, 247, 0.80);
    --background-color-popover-dark: rgba(37, 37, 37, 0.8);
    --background-color-popover-hover-light: rgba(226, 226, 226, 0.679);
    --background-color-popover-hover-dark: rgba(55, 55, 55, 0.85);
    --background-accent-color-light: #1a1a1a30;
    --background-accent-color-dark: #ffffff30;
    --font-color-light: #010101;
    --font-color-dark: #ffffff;
    --font-color-gray: var(--cool);
    --border-color-light: #ffffff49;
    --border-color-dark: #b0b0b02c;
    --featured-color-light: #981717;
    --featured-color-dark: #e45454;
    --featured-color-hover-light: #e45454;
    --featured-color-hover-dark: #981717;
    --featured-color-active-light: #986b17;
    --featured-color-active-dark: #e45454;
    --functional-color-light: #007AFF;
    --functional-color-dark: #0A84FF;
    --color-grey: #a9a9a9;
    --shadow-color-light: #00000050;
    --shadow-color-dark: #ffffff50;
    --color-green: #30d158;
    --nav-color-dark: var(--background-color-dark);
    --nav-color-light: var(--background-color-light);
    --functional-color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --gradient: radial-gradient(90.24% 90.24% at 48.38% 18.13%, #000000 0%, #020202 25.35%, #061857 45.35%, #000D3D 70.35%, #000000 100%);
        --background-color: var(--background-color-dark);
        --background-color-rgb: var(--background-color-dark-rgb);
        --background-color-protrude: var(--background-color-protrude-dark);
        --font-color: var(--font-color-dark);
        --font-color-rgb: var(--font-color-dark-rgb);
        --border-color: var(--border-color-dark);
        --featured-color: var(--featured-color-dark);
        --featured-color-hover: var(--featured-color-hover-dark);
        --featured-color-active: var(--featured-color-active-dark);
        --background-color-protrude-hover: var(--background-color-protrude-hover-dark);
        --color-grey: var(--color-grey-dark);
        --background-color-popover: var(--background-color-popover-dark);
        --background-accent-color: var(--background-accent-color-dark);
        --background-color-popover-hover: var(--background-color-popover-hover-dark);
        --shadow-color: var(--shadow-color-dark);
        --nav-color: var(--nav-color-dark);
        /* --functional-color: var(--functional-color-dark); */
        --blur-light: rgba(255, 255, 255, .02);
        --gray-rgb: rgb(245, 245, 245, .5);
        --linear-icon: radial-gradient(51% 51% at 31.5% 61%, rgba(0, 224, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(105.5% 105.5% at -5.5% 56.5%, rgba(173, 251, 251, 0.57) 0%, rgba(63, 181, 231, 0.59) 100%);

        --cool: rgb(245, 222, 179);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --gradient: radial-gradient(36.39% 70.91% at 55.9% 52.42%, rgba(0, 255, 87, 0.22) 1.95%, rgba(0, 255, 87, 0) 100%), radial-gradient(97.36% 111.9% at 50% 8.59%, #F6F6F6 0%, #F1F1F1 30.85%, #BEDEE0 41.97%, #9DD4F2 56.3%, #FAFAFA 79.85%, #FAFAFA 100%);
        --background-color: var(--background-color-light);
        --background-color-rgb: var(--background-color-light-rgb);
        --background-color-protrude: var(--background-color-protrude-light);
        --font-color: var(--font-color-light);
        --font-color-rgb: var(--font-color-light-rgb);
        --border-color: var(--border-color-light);
        --featured-color: var(--featured-color-light);
        --featured-color-hover: var(--featured-color-hover-light);
        --featured-color-active: var(--featured-color-active-light);
        --background-color-protrude-hover: var(--background-color-protrude-hover-light);
        --color-grey: var(--color-grey-light);
        --background-color-popover: var(--background-color-popover-light);
        --background-accent-color: var(--background-accent-color-light);
        --background-color-popover-hover: var(--background-color-popover-hover-light);
        --shadow-color: var(--shadow-color-light);
        --nav-color: var(--background-color);
        /* --functional-color: var(--functional-color-light); */
        --blur-light: rgba(0, 0, 0, .03);
        --gray-rgb: rgba(70, 70, 70, 0.5);
        --linear-icon: radial-gradient(51% 51% at 31.5% 61%, rgba(255, 137, 166, 0.8) 0%, rgba(255, 126, 157, 0) 100%), radial-gradient(105.5% 105.5% at -5.5% 56.5%, rgba(119, 160, 160, 0.57) 0%, rgba(123, 83, 142, 0.59) 100%);

        --cool: rgb(255, 166, 0);
    }
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
    -webkit-appearance: none;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("/fonts/SFPro.ttf");
    font-display: swap
}

body {
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(219, 219, 219);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    min-height: 100vh;
    transition: .3s;
    padding-top: 4rem;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: var(--gradient);
    background-size: cover;
    transition: .3s;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transform: translateZ(0);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--font-color);

    p {
        text-align: center;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    span.sentence {
        margin-bottom: .5rem;
        line-height: 100%;
    }
}

*[onclick],
button {
    cursor: pointer;
}

.folder.lane.hidden_tip_settings {
    margin: 0 5rem 0 5rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
    background: linear-gradient(180deg, var(--background-color) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    transform: translateZ(0);
    z-index: 5;
}

nav.browsed {
    border-bottom: 1px solid var(--border-color);
}

nav>font {
    margin: 0;
    padding: 0;
    margin-bottom: .3rem;
    font-weight: bolder;
    color: var(--functional-color);
}

nav svg {
    --size: 1.8rem;
    width: var(--size);
    height: var(--size);
}

.nav-arrow-back {
    position: absolute;
    left: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin: 0 1rem;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.nav-arrow-back:active {
    scale: .98;
}

.nav-arrow-back>font {
    color: var(--functional-color);
    margin: 0;
    padding: 0;
    margin-bottom: .3rem;
    font-size: 1.1rem;
}

#alert {
    display: flex;
    width: 270px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 14px;
    overflow: hidden;
    background: var(--background-color-popover);
    backdrop-filter: blur(67.95704650878906px);
    -webkit-backdrop-filter: blur(67.95704650878906px);
    transform: translateZ(0);
}

.alert-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    align-self: stretch;
}

#alert-title {
    align-self: stretch;
    color: black;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 129.412% */
    letter-spacing: -0.408px;
    margin: 0;
}

#alert-text {
    align-self: stretch;
    color: var(--font-color);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 138.462% */
    letter-spacing: -0.078px;
    margin: 0;
}

.divider-hoz {
    height: 0.5px;
    align-self: stretch;
    border-radius: 0px;
    opacity: 0.1;
    background: var(--font-color);
}

.actions {
    display: flex;
    height: 44px;
    padding: 0px;
    align-items: flex-start;
    gap: 0.5px;
    align-self: stretch;

    #alert-cancel {
        display: flex;
        padding: 11px 16px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        color: var(--font-color);
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        transition: .1s;
    }

    #alert-confirm {
        display: flex;
        padding: 11px 16px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        color: var(--font-color);
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        transition: .1s;
    }
}

.alert-btn:hover {
    cursor: pointer;
    background-color: var(--background-color-popover-hover);
}

.divider-ver {
    width: 0.5px;
    align-self: stretch;
    border-radius: 0px;
    opacity: 0.1;
    background: var(--font-color);
}

#alert-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateZ(0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: var(--background-accent-color);
    z-index: 10;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.color-red,
.color-red * {
    color: rgb(255, 49, 49);
    fill: rgb(255, 49, 49);
}

svg {
    transition: .3s;
}

svg path {
    fill: var(--functional-color);
}

.page {
    height: max-content;
    min-height: 100vh;
    width: 100vw;
    margin-bottom: 5rem;
    padding: 0;
    overflow-x: hidden;
    transform: translateX(0px);
    display: none;
    transition: opacity .5s;
    background: transparent;
    color: var(--font-color);
}


#page-1 {
    display: block;
}

.folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateZ(0);
    padding: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    position: relative;
    --svg_size: 1.7rem;
    font-size: 1.1rem;
    max-height: 500px;
    transition: .5s;
    opacity: 1;
}

.folder:active {
    background: transparent;
}

.lane:active {
    background: transparent;
}

.line::after {
    content: '';
    display: none;
    width: calc(100% - var(--svg_size) - 7em);
    height: 1px;
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.full-width-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    right: 0;
}

.folder>span {
    margin-right: 15px;
}

.set {
    padding: .2rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    color: var(--font-color);
    border-radius: 12px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transform: translateZ(0);
    backdrop-filter: saturate(1.3) blur(17px);
    -webkit-backdrop-filter: saturate(1.3) blur(17px);
    background: var(--blur-light);
    transition: .2s;
}

.icon {
    transition: opacity .1s;
}

span.icon.file {
    padding: .2rem;
    height: 1.5rem;
    width: 1.5rem;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transform: translateX(-.5rem);
    font-weight: bold;
    font-size: .8rem;
    --mask-i: url();
    border-radius: 10px;
    color: white !important;

    svg {
        mask-image: var(--mask-i);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background: var(--linear-icon);
    }

    path {
        fill: transparent !important;
    }

    position: relative;
    z-index: 1;

}

span.icon.file svg,
span.icon.file svg path {
    width: var(--svg_size);
    height: var(--svg_size);
    fill: blue;
}


.small-title {
    display: block;
    font-size: 1rem;
    color: var(--gray-rgb);
    margin: 0 0 .5rem 10%;
}

.hidden {
    opacity: 0;
}

span.s {
    transform: translate(-.5rem, .15rem);
    color: var(--font-color-gray) !important;
}

.small {
    font-size: .8rem;
    color: var(--font-color-gray);
}

.no-margin {
    margin: 0 auto;
}

.margin-auto {
    margin: .8rem !important;
}

.margin-4 {
    margin: 4rem !important;
}

.removed {
    display: none;
    opacity: 0;
    animation: remove .5s ease-in-out;
}

.none {
    display: none;
}

@keyframes remove {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.icon.more {
    display: none;
}

.icon.option {
    right: 0;
    padding: .5rem;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;

    path {
        fill: var(--functional-color);
        height: 1.4rem;
        width: 1.4rem;
    }
}

@keyframes page-left {
    0% {
        opacity: 1;
        transform: scale(1) translateZ(0);
        filter: blur(0);
        -webkit-filter: blur(0);
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(.9) translateZ(0);
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
}

@keyframes page-enter {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    95% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes page-appears {
    0% {
        opacity: 0;
        transform: scale(.9) translateZ(0);
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1) translateZ(0);
        filter: blur(0);
        -webkit-filter: blur(0);
    }
}

@keyframes page-leave {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    95% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.detail,
#word,
#term {
    user-select: text;
    -webkit-user-select: text;
}

p.detail {
    width: 80%;
    margin: auto auto;
}

h3.detail {
    font-size: 1.2rem;
    padding-left: 2rem;
    margin-bottom: .5rem;
    color: var(--font-color-gray);
    display: flex;
    width: 80%;
    margin: auto auto;
}

.flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    position: relative;
}

span.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-left: 1rem;
}

h1#word {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 100%;
    overflow: scroll;
    width: 100%;
    padding: 2rem;
    font-size: .8rem;
    color: var(--font-color-gray);
}

footer path,
footer svg {
    fill: var(--font-color-gray);
    height: 1rem;
    width: 1rem;
    transform: translateY(.25rem);
}

.authorize {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: .2rem;
}

.background-light {
    background-color: var(--background-color-protrude);
    padding: 1rem;
    border-radius: 1rem;
}

.marginbottom {
    padding-bottom: 2rem;
}

.gray {
    color: var(--font-color-gray) !important;

    svg,
    path {
        fill: var(--font-color-gray) !important;
    }
}

.e80pc {
    width: 80%;
    max-width: 400px;
}

.bold {
    font-weight: bold;
}

.select {
    user-select: text;
    -webkit-user-select: text;
}

label.text {
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background: var(--blur-light);
    transform: translateZ(0);
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
    padding: .2rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 400px;
    overflow: hidden;
}

input[type=text] {
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
}

input::placeholder {
    color: var(--cool);
}

.search-input-svg {
    margin-left: 5rem;
}

.search-input-svg svg {
    width: 1.4rem;
    height: 1.4rem;
    transform: translateY(.27rem);
    margin-right: .5rem;
}

.search-input-svg path {
    fill: var(--cool);
}

#search_receipt {
    text-align: center;
    margin: .2rem;
    font-size: .8rem;
    color: var(--cool);
    margin-bottom: 1rem;
}

.switch {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: background .2s;
}

.switch:active {
    --background: 62, 192, 149;
    background: radial-gradient(50% 202.24% at 50% 50%, rgba(var(--background), 0.147) 0%, rgba(var(--background), 0.024) 84.35%, rgba(255, 255, 255, 0) 100%);
}

.switch.checked {
    --background: 0, 255, 115;
    background: radial-gradient(50% 202.24% at 50% 50%, rgba(var(--background), 0.147) 0%, rgba(var(--background), 0.024) 84.35%, rgba(255, 255, 255, 0) 100%);
}

.switch.checked:active {
    --background: 64, 255, 0;
    background: radial-gradient(50% 202.24% at 50% 50%, rgba(var(--background), 0.147) 0%, rgba(var(--background), 0.024) 84.35%, rgba(255, 255, 255, 0) 100%);
}


.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}

.open_in_new {
    width: 1rem;
    height: 1rem;
    transform: translate(-.5rem, .05rem);
}

.open_in_new path {
    fill: var(--font-color-gray);
}

.favorite_star {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(.75rem);
    background-image: url('icons/star_empty.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: .5rem;
    cursor: pointer;
    transition: .2s;
}

.favorite_star:active {
    transform: translateY(.75rem) scale(.9);

}

.favorite_star.stared {
    animation: being-stared .8s ease-in-out;
    background-image: url('icons/star_full.svg');
    filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
    -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
}

.hidden_tip_settings,
.hidden_zone {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    max-width: 0;
    pointer-events: none;
}

.readermode {
    color: var(--background-color);
}

.center {
    margin: 0 auto;
    text-align: center;
}

@keyframes being-stared {
    0% {
        background-image: url('icons/star_empty.svg');
    }

    15% {
        transform: scale(1.5) translateY(.375rem) rotate(15deg);
        background-image: url('icons/star_full.svg');
        filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
        -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);

    }

    70% {
        transform: scale(1.52) translateY(.375rem) rotate(15deg);
        filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
        -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
    }

    100% {
        transform: scale(1) translateY(.75rem) rotate(0deg);
        filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
        -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
    }
}

.normal-text-input {
    border-radius: 7px;
    border: 1px solid var(--border-color) !important;
    background-color: var(--background-color-protrude) !important;
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
    max-width: 400px;
}

#list-of-words-content {
    transition: opacity .3s;
}

.normal-text-textarea {
    border-radius: 7px;
    border: 1px solid var(--border-color) !important;
    background-color: var(--background-color-protrude) !important;
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
    resize: none;
}

.circle {
    transform: translateY(.2rem);
}

.width-450 {
    max-width: 450px;
}

.icon.more.larger {
    right: .5rem;
    padding: .2rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;

    path,
    svg {
        fill: var(--functional-color);
        transition: .4s;
        height: 2rem;
        width: 2rem;
    }
}

.icon.rotate180 {
    svg {
        transform: rotate(180deg);
    }
}

.verification {
    -webkit-user-drag: none;
}

.verification.ans {
    width: 100%;
}

.verification.qes {
    width: 50%;
}

.anss {
    display: flex;
    flex-direction: row;
    width: 50%;
    overflow: hidden;
}

.verify {
    transition: height .5s;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    max-width: 450px;
    margin: 0 auto 2rem auto;
    box-shadow: 0px 0px 32px 2px var(--shadow-color);
    border-radius: 12px;
    overflow: hidden;
}

.btn-verify {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    color: var(--font-color);

    path,
    svg {
        width: 2rem;
        height: 2rem;
    }
}

.times-new-roman,
.times_new_roman {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}

.folder.full-width-line.times-new-roman,
.folder.full-width-line.times_new_roman {
    display: none;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem;
}

.bug,
.cms {
    height: 100vh;
}

.content {
    margin-top: 2.5rem !important;
}

.bug>.content {
    margin-bottom: 5rem;
}

p.gray.small.center {
    transition: height .5s;
}

.large-btn {
    padding: 1rem 4rem;
    outline: none;
    border: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    font-size: 1.3rem;
    border-radius: 7px;
    background-color: var(--color-green);
    color: var(--background-color);
    cursor: pointer;
}

.mid-btn {
    padding: .5rem 4rem;
    outline: none;
    border: 2px solid var(--border-color);
    font-size: 1.1rem;
    border-radius: 7px;
    background-color: var(--background-color-protrude);
    color: var(--font-color);
    cursor: pointer;
    transition: background-color .2s;
    margin: 2rem 20% 0rem 20%;
    width: 60%;
}

.mid-btn:hover {
    background-color: var(--background-color-protrude-hover);
}

a.popover {
    color: var(--functional-color);
}

.updown {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.cms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#camera,
#c,
#ovlouter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    transition: .5s;
}

#ovl {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#toolbar {
    border-top: 2px solid var(--border-color);
    position: absolute;
    top: 100dvh;
    transform: translateY(-100%) translateZ(0);
    left: 0;
    padding: 1.5rem 0;
    width: 100%;
    font-size: 1.2rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 5;
    background-color: var(--background-accent-color);
}

body.ocr {
    overflow: hidden;
}

nav.ocr {
    background: transparent;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transform: translateZ(0);
    z-index: 5;
    height: 2rem;
}

#cameras {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.empty {
    background: var(--background-accent-color);
    border: 2px solid var(--border-color);
    outline: none;
    color: var(--background-color);
    margin: .2rem;
    padding: 1.4rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    * {
        height: 2rem;
        width: 2rem;
        fill: var(--background-color);
    }
}

.flip {
    position: absolute;
    right: 2rem;
    background: var(--background-accent-color);
    border: none;
    outline: none;
    color: var(--font-color);
    margin: .2rem;
    padding: 1.6rem;
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    * {
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--font-color);
    }

    mix-blend-mode: difference;
}

.word-overlay {
    background-color: var(--background-color-popover);
    border-radius: 12px;
    padding: .4rem;
    font-size: 20px;
    font-weight: bold;
    transition: background-color .2s;
    text-align: center;
}

.word-overlay.selected {
    background-color: var(--color-grey);
}

.inp.text {
    margin: 0;
    overflow: hidden;
    position: relative;
    border: none;
}

.cir {
    border-radius: 50%;
}

button.fit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--functional-color);
    border: 1px solid var(--border-color);

    * {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--background-color);
    }
}

#cookieBanner {
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transform: translateZ(0);
    color: #000;
    padding: 20px;
    padding-top: 2rem;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 var(--border-color);
}

#cookieBanner p {
    margin: 0;
    margin-bottom: 10px;
}

#acceptCookies,
#closeAcceptCookies {
    padding: 10px 20px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#acceptCookies {
    background-color: #008cba;
    color: #fff;
}

#closeAcceptCookies {
    background-color: #f44336;
    color: #fff;
}

#acceptCookies:hover {
    background-color: #0079a1;
}

#closeAcceptCookies:hover {
    background-color: #da1e28;
}

#date {
    font-size: .7rem;
}