:root {
    --background-color-light: #f2f2f3;
    --background-color-dark: #000000;
    --background-color-protrude-light: #ffffff;
    --background-color-protrude-dark: #1b1b1b;
    --background-color-protrude-hover-light: #fafafa;
    --background-color-protrude-hover-dark: #2a2a2a;
    --background-color-popover-light: rgba(247, 247, 247, 0.80);
    --background-color-popover-dark: rgba(37, 37, 37, 0.8);
    --background-color-popover-hover-light: rgba(226, 226, 226, 0.679);
    --background-color-popover-hover-dark: rgba(55, 55, 55, 0.85);
    --background-accent-color-light: #1a1a1a30;
    --background-accent-color-dark: #ffffff30;
    --font-color-light: #010101;
    --font-color-dark: #ffffff;
    --font-color-gray: #868686;
    --border-color-light: #1616162c;
    --border-color-dark: #b0b0b02c;
    --featured-color-light: #981717;
    --featured-color-dark: #e45454;
    --featured-color-hover-light: #e45454;
    --featured-color-hover-dark: #981717;
    --featured-color-active-light: #986b17;
    --featured-color-active-dark: #e45454;
    --functional-color-light: #007AFF;
    --functional-color-dark: #0A84FF;
    --color-grey-light: #808080;
    --color-grey-dark: #616161;
    --shadow-color-light: #00000050;
    --shadow-color-dark: #ffffff50;
    --color-green: #30d158;
    --nav-color-dark: var(--background-color-dark);
    --nav-color-light: var(--background-color-protrude-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --background-color-protrude: var(--background-color-protrude-dark);
        --font-color: var(--font-color-dark);
        --border-color: var(--border-color-dark);
        --featured-color: var(--featured-color-dark);
        --featured-color-hover: var(--featured-color-hover-dark);
        --featured-color-active: var(--featured-color-active-dark);
        --background-color-protrude-hover: var(--background-color-protrude-hover-dark);
        --color-grey: var(--color-grey-dark);
        --background-color-popover: var(--background-color-popover-dark);
        --background-accent-color: var(--background-accent-color-dark);
        --background-color-popover-hover: var(--background-color-popover-hover-dark);
        --shadow-color: var(--shadow-color-dark);
        --nav-color: var(--nav-color-dark);
        --functional-color: var(--functional-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --background-color-protrude: var(--background-color-protrude-light);
        --font-color: var(--font-color-light);
        --border-color: var(--border-color-light);
        --featured-color: var(--featured-color-light);
        --featured-color-hover: var(--featured-color-hover-light);
        --featured-color-active: var(--featured-color-active-light);
        --background-color-protrude-hover: var(--background-color-protrude-hover-light);
        --color-grey: var(--color-grey-light);
        --background-color-popover: var(--background-color-popover-light);
        --background-accent-color: var(--background-accent-color-light);
        --background-color-popover-hover: var(--background-color-popover-hover-light);
        --shadow-color: var(--shadow-color-light);
        --nav-color: var(--nav-color-light);
        --functional-color: var(--functional-color-light);
    }
}

@supports (-webkit-touch-callout: none) {
    * {
        cursor: none;
    }
}

::-webkit-scrollbar {
    width: 0;
    display: none;
    -webkit-appearance: none;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("/fonts/SFPro.ttf");
    font-display: swap
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transform: translateZ(0);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--font-color);

    p {
        text-align: center;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    span.sentence {
        margin-bottom: .5rem;
        line-height: 100%;
    }
}

*[onclick],
button {
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
    background: linear-gradient(180deg, var(--nav-color) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    backdrop-filter: blur(17px) brightness(1.8);
    -webkit-backdrop-filter: blur(17px) brightness(1.8);
    transform: translateZ(0);
    z-index: 5;
}

nav.browsed {
    border-bottom: 1px solid var(--border-color);
}

nav>font {
    margin: 0;
    padding: 0;
    margin-bottom: .3rem;
    font-weight: bolder;
}

nav svg {
    --size: 1.8rem;
    width: var(--size);
    height: var(--size);
}

.nav-arrow-back {
    position: absolute;
    left: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin: 0 1rem;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.nav-arrow-back:active {
    scale: .98;
}

.nav-arrow-back>font {
    color: var(--functional-color);
    margin: 0;
    padding: 0;
    margin-bottom: .3rem;
    font-size: 1.1rem;
}

#alert {
    display: flex;
    width: 270px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 14px;
    overflow: hidden;
    background: var(--background-color-popover);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    transform: translateZ(0);
}

.alert-content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    align-self: stretch;
}

#alert-title {
    align-self: stretch;
    color: var(--font-color);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 129.412% */
    letter-spacing: -0.408px;
    margin: 0;
}

#alert-text {
    align-self: stretch;
    color: var(--font-color);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 138.462% */
    letter-spacing: -0.078px;
    margin: 0;
}

.divider-hoz {
    height: 0.5px;
    align-self: stretch;
    border-radius: 0px;
    opacity: 0.1;
    background: var(--font-color);
}

.actions {
    display: flex;
    height: 44px;
    padding: 0px;
    align-items: flex-start;
    gap: 0.5px;
    align-self: stretch;

    #alert-cancel {
        display: flex;
        padding: 11px 16px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        color: var(--functional-color);
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        transition: .1s;
    }

    #alert-confirm {
        display: flex;
        padding: 11px 16px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        color: var(--functional-color);
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        transition: .1s;
    }
}

.alert-btn:hover {
    cursor: pointer;
    background-color: var(--background-color-popover-hover);
}

.divider-ver {
    width: 0.5px;
    align-self: stretch;
    border-radius: 0px;
    opacity: 0.1;
    background: var(--font-color);
}

#alert-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateZ(0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: linear-gradient(180deg, var(--background-color) 0%, var(--background-color) 3.67%, var(--background-accent-color) 29.33%);
    z-index: 10;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.color-red,
.color-red * {
    color: rgb(255, 49, 49);
    fill: rgb(255, 49, 49);

    span.switch {
        transition: var(--transition-time);
        display: inline-block;
        width: var(--button-width);
        height: var(--button-height);
        background-color: var(--featured-color);
        border-radius: calc(var(--button-height) / 2);
        position: relative;
    }

    span.switch::after {
        transition: var(--transition-time);
        content: '';
        display: inline-block;
        width: var(--toggle-diameter);
        height: var(--toggle-diameter);
        background-color: wheat;
        border-radius: calc(var(--toggle-diameter) / 2);
        position: absolute;
        top: var(--button-toggle-offset);
        transform: translateX(var(--button-toggle-offset));
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
    }

    span.switch.checked {
        transition: var(--transition-time);
        background-color: var(--functional-color);
    }

    span.switch.checked::after {
        transition: var(--transition-time);
        transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--toggle-shadow-offset)));
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
        background: white;
    }

    span.switch:active::after {
        transition: var(--transition-time);
        width: var(--toggle-wider);
    }

    span.switch.checked:active::after {
        transition: var(--transition-time);
        transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
    }

    .switch.settings {
        position: absolute;
        right: 0;
        margin: 1rem;
    }
}

svg {
    transition: .3s;
}

svg path {
    fill: var(--functional-color);
}

.page {
    height: max-content;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transform: translateX(0px);
    display: none;
    background-color: var(--background-color);
    transition: opacity .5s;
}


#page-1 {
    display: block;
}

.folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--background-color-protrude);
    padding: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    position: relative;
    --svg_size: 1.7rem;
    font-size: 1.1rem;
    max-height: 500px;
    transition: .5s;
    opacity: 1;
}

.folder:active {
    background: var(--background-color-protrude-hover);
}

.lane:active {
    background: var(--background-color-protrude);
}

.line::after {
    content: '';
    display: block;
    width: calc(100% - var(--svg_size) - 35px);
    height: 1px;
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    right: 0;
}

.full-width-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    right: 0;
}

.folder>span {
    margin-right: 15px;
}

.set {
    padding: .2rem;
    background-color: var(--background-color-protrude);
    border-radius: 12px;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}

.icon {
    transition: opacity .1s;
}

span.icon.file {
    padding: 0;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--functional-color);
    font-weight: bold;
    font-size: .8rem;
}

span.icon.file svg,
span.icon.file svg path {
    width: var(--svg_size);
    height: var(--svg_size);
}

.set {
    margin-bottom: 2em;
    position: relative;
}

.small-title {
    display: block;
    font-size: 1rem;
    color: var(--font-color-gray);
    width: 80%;
    margin: 0 auto;
    padding: .2rem;
    padding-left: 2.1em;
}

.hidden {
    opacity: 0;
}

span.s {
    transform: translate(-.5rem, .15rem);
    color: var(--font-color-gray) !important;
}

.small {
    font-size: .8rem;
    color: var(--font-color-gray);
}

.no-margin {
    margin: 0 auto;
}

.none {
    display: none;
}

.margin-auto {
    margin: .8rem !important;
}

.margin-4 {
    margin: 4rem !important;
}

.removed {
    display: none;
    opacity: 0;
    animation: remove .5s ease-in-out;
}

@keyframes remove {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.icon.more {
    right: 0;
    padding: .2rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;

    path {
        fill: var(--color-grey-dark);
        height: 1.2rem;
        width: 1.2rem;
    }
}

.icon.option {
    right: 0;
    padding: .5rem;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;

    path {
        fill: var(--functional-color);
        height: 1.4rem;
        width: 1.4rem;
    }
}

@keyframes page-left {
    0% {
        opacity: 1;
        transform: scale(1) translateZ(0);
        filter: blur(0);
        -webkit-filter: blur(0);
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(.95) translateZ(0);
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
}

@keyframes page-enter {
    0% {
        transform: translateX(100%);
    }

    95% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes page-appears {
    0% {
        opacity: 0;
        transform: scale(.95) translateZ(0);
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1) translateZ(0);
        filter: blur(0);
        -webkit-filter: blur(0);
    }
}

@keyframes page-leave {
    0% {
        transform: translateX(0px);
    }

    95% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.detail,
#word,
#term {
    user-select: text;
    -webkit-user-select: text;
}

p.detail {
    width: 80%;
    margin: auto auto;
}

h3.detail {
    font-size: 1.2rem;
    padding-left: 2rem;
    margin-bottom: .5rem;
    color: var(--font-color-gray);
    display: flex;
    width: 80%;
    margin: auto auto;
}

.flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    position: relative;
}

span.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-left: 1rem;
}

h1#word {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 100%;
    overflow: scroll;
    width: 100%;
    padding: 2rem;
    font-size: .8rem;
    color: var(--font-color-gray);
}

footer path,
footer svg {
    fill: var(--font-color-gray);
    height: 1rem;
    width: 1rem;
    transform: translateY(.25rem);
}

.authorize {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: .2rem;
}

.background-light {
    background-color: var(--background-color-protrude);
    padding: 1rem;
    border-radius: 1rem;
}

.marginbottom {
    padding-bottom: 2rem;
}

.gray {
    color: var(--font-color-gray) !important;

    svg,
    path {
        fill: var(--font-color-gray) !important;
    }
}

.e80pc {
    width: 80%;
    max-width: 400px;
}

.bold {
    font-weight: bold;
}

.select {
    user-select: text;
    -webkit-user-select: text;
}

label.text {
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-protrude);
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
    padding: .2rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 400px;
    overflow: hidden;
}

input[type=text] {
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
}

input::placeholder {
    color: var(--font-color-gray);
}

.search-input-svg svg {
    width: 1.4rem;
    height: 1.4rem;
    transform: translateY(.27rem);
    margin-right: .5rem;
}

.search-input-svg path {
    fill: var(--font-color-gray);
}

#search_receipt {
    text-align: center;
    margin: .2rem;
    font-size: .8rem;
    color: var(--font-color-gray);
    margin-bottom: 1rem;
}

:root {
    --button-width: 51px;
    --button-height: 31px;
    --toggle-diameter: 27px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 0.12rem;
    --toggle-wider: 33.3px;
    --transition-time: 0.3s;
    --switch-color-gray-light: rgba(120, 120, 128, 0.16);
    --switch-color-gray-dark: rgba(120, 120, 128, 0.32);
    --switch-color-green-light: #34C759;
    --switch-color-green-dark: #30D158;
}

@media (prefers-color-scheme: dark) {
    :root {
        --switch-color-gray: var(--switch-color-gray-dark);
        --switch-color-green: var(--switch-color-green-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --switch-color-gray: var(--switch-color-gray-light);
        --switch-color-green: var(--switch-color-green-light);
    }
}

span.switch {
    transition: var(--transition-time);
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--switch-color-gray);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
}

span.switch::after {
    transition: var(--transition-time);
    content: '';
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: white;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}

span.switch.checked {
    transition: var(--transition-time);
    background-color: var(--switch-color-green);
}

span.switch.checked::after {
    transition: var(--transition-time);
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--toggle-shadow-offset)));
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}

span.switch:active::after {
    transition: var(--transition-time);
    width: var(--toggle-wider);
}

span.switch.checked:active::after {
    transition: var(--transition-time);
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.switch.settings {
    position: absolute;
    right: 0;
    margin: 1rem;
}

.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}

.open_in_new {
    width: 1rem;
    height: 1rem;
    transform: translate(-.5rem, .05rem);
}

.open_in_new path {
    fill: var(--font-color-gray);
}

.favorite_star {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(.75rem);
    background-image: url('icons/star_empty.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: .5rem;
    cursor: pointer;
    transition: .2s;
}

.favorite_star:active {
    transform: translateY(.75rem) scale(.9);

}

.favorite_star.stared {
    animation: being-stared .8s ease-in-out;
    background-image: url('icons/star_full.svg');
    filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
    -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
}

.hidden_tip_settings,
.hidden_zone {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
}

.readermode {
    color: var(--background-color);
}

.center {
    margin: 0 auto;
    text-align: center;
}

@keyframes being-stared {
    0% {
        background-image: url('icons/star_empty.svg');
    }

    15% {
        transform: scale(1.5) translateY(.375rem) rotate(15deg);
        background-image: url('icons/star_full.svg');
        filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
        -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);

    }

    70% {
        transform: scale(1.52) translateY(.375rem) rotate(15deg);
        filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
        -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
    }

    100% {
        transform: scale(1) translateY(.75rem) rotate(0deg);
        filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
        -webkit-filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(3257%) hue-rotate(45deg) brightness(92%) contrast(93%);
    }
}

.normal-text-input {
    border-radius: 7px;
    border: 1px solid var(--border-color) !important;
    background-color: var(--background-color-protrude) !important;
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
    max-width: 400px;
}

#list-of-words-content {
    transition: opacity .3s;
}

.normal-text-textarea {
    border-radius: 7px;
    border: 1px solid var(--border-color) !important;
    background-color: var(--background-color-protrude) !important;
    color: var(--font-color);
    font-size: 1.1rem;
    outline: none;
    padding: .5rem 1rem .5rem 1rem;
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
    resize: none;
}

.circle {
    transform: translateY(.2rem);
}

.width-450 {
    max-width: 450px;
}

.icon.more.larger {
    right: .5rem;
    padding: .2rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;

    path,
    svg {
        fill: var(--functional-color);
        transition: .4s;
        height: 2rem;
        width: 2rem;
    }
}

.icon.rotate180 {
    svg {
        transform: rotate(180deg);
    }
}

.verification {
    -webkit-user-drag: none;
}

.verification.ans {
    width: 100%;
}

.verification.qes {
    width: 50%;
}

.anss {
    display: flex;
    flex-direction: row;
    width: 50%;
    overflow: hidden;
}

.verify {
    transition: height .5s;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    max-width: 450px;
    margin: 0 auto 2rem auto;
    box-shadow: 0px 0px 32px 2px var(--shadow-color);
    border-radius: 12px;
    overflow: hidden;
}

.btn-verify {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    color: var(--font-color);

    path,
    svg {
        width: 2rem;
        height: 2rem;
    }
}

.times-new-roman,
.times_new_roman {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}

.folder.full-width-line.times-new-roman,
.folder.full-width-line.times_new_roman {
    font-size: 1.3rem;
    padding-top: 0;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem;
}

.bug,
.cms {
    height: 100vh;
}

.bug>.content {
    margin-bottom: 5rem;
}

p.gray.small.center {
    transition: height .5s;
}

.large-btn {
    padding: 1rem 4rem;
    outline: none;
    border: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    font-size: 1.3rem;
    border-radius: 7px;
    background-color: var(--color-green);
    color: var(--background-color);
    cursor: pointer;
}

.mid-btn {
    padding: .5rem 4rem;
    outline: none;
    border: 2px solid var(--border-color);
    font-size: 1.1rem;
    border-radius: 7px;
    background-color: var(--background-color-protrude);
    color: var(--font-color);
    cursor: pointer;
    transition: background-color .2s;
    margin: 2rem 20% 0rem 20%;
    width: 60%;
}

.mid-btn:hover {
    background-color: var(--background-color-protrude-hover);
}

a.popover {
    color: var(--functional-color);
}

.updown {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.cms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#camera,
#c,
#ovlouter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    transition: .5s;
}

#ovl {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#toolbar {
    border-top: 2px solid var(--border-color);
    position: absolute;
    top: 100dvh;
    transform: translateY(-100%) translateZ(0);
    left: 0;
    padding: 1.5rem 0;
    width: 100%;
    font-size: 1.2rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 5;
    background-color: var(--background-accent-color);
}

body.ocr {
    overflow: hidden;
}

nav.ocr {
    background: transparent;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transform: translateZ(0);
    z-index: 5;
    height: 2rem;
}

#cameras {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.empty {
    background: var(--background-accent-color);
    border: 2px solid var(--border-color);
    outline: none;
    color: var(--background-color);
    margin: .2rem;
    padding: 1.4rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    * {
        height: 2rem;
        width: 2rem;
        fill: var(--background-color);
    }
}

.flip {
    position: absolute;
    right: 2rem;
    background: var(--background-accent-color);
    border: none;
    outline: none;
    color: var(--font-color);
    margin: .2rem;
    padding: 1.6rem;
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    * {
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--font-color);
    }

    mix-blend-mode: difference;
}

.word-overlay {
    background-color: var(--background-color-popover);
    border-radius: 12px;
    padding: .4rem;
    font-size: 20px;
    font-weight: bold;
    transition: background-color .2s;
    text-align: center;
}

.word-overlay.selected {
    background-color: var(--color-grey);
}

.inp.text {
    margin: 0;
    overflow: hidden;
    position: relative;
    border: none;
}

.cir {
    border-radius: 50%;
}

button.fit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--functional-color);
    border: 1px solid var(--border-color);

    * {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--background-color);
    }
}

#cookieBanner {
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transform: translateZ(0);
    color: #000;
    padding: 20px;
    padding-top: 2rem;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 var(--border-color);
}

#cookieBanner p {
    margin: 0;
    margin-bottom: 10px;
}

#acceptCookies,
#closeAcceptCookies {
    padding: 10px 20px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#acceptCookies {
    background-color: #008cba;
    color: #fff;
}

#closeAcceptCookies {
    background-color: #f44336;
    color: #fff;
}

#acceptCookies:hover {
    background-color: #0079a1;
}

#closeAcceptCookies:hover {
    background-color: #da1e28;
}