body::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: calc(50% + 100px);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: calc(50% + 100px);
    z-index: -1;
    background: linear-gradient(180deg, transparent 10%, var(--user-preferred-background) 100%);
}

.app {
    padding: 2rem;
    max-width: 1000px;
    margin: 4rem auto;
}

.app-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;

    .app-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
        border-radius: 17px;
        overflow: hidden;

        img {
            width: 100px;
            height: 100px;
            user-select: none;
            -webkit-user-drag: none;
        }
    }
}

.hid_rating {
    display: none;
}

.pad {
    padding: 1rem 2rem;
    min-width: 100px;
    width: 100%;
    max-width: 400px;

    .stars {
        user-select: none;
    }

    .star {
        color: #dddddd;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
    }
}

.rating-zone {
    position: relative;
}

input[type="range"]#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    opacity: 0;
}

.card.rate {
    margin-top: 4rem;
    padding-bottom: 2rem;
}

.image-loop {
    display: flex;
    overflow-x: scroll;
    padding: 0;
    user-select: none;

    img {
        max-height: 300px;
        width: calc(100% - 1rem);
        user-select: none;
        -webkit-user-drag: none;
        margin: .5rem;
        border-radius: 17px;
        border: 1px solid #e0e0e0;
    }

    &::-webkit-scrollbar {
        cursor: pointer;
        display: block;
        width: 7px;
        height: 7px;
        background: #f0f0f062;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c0c0c050;
        border-radius: 100px;
    }
}

#load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--user-preferred-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    font-size: .8rem;

    p {
        width: 50%;
        text-align: center;
    }
}

:root {
    --loading-image: url('/icons/onlight.load_ellipse.svg');
}

@media (prefers-color-scheme: dark) {
    :root {
        --loading-image: url('/icons/ondark.load_ellipse.svg');
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animated-loader {
    background-image: var(--loading-image);
    background-size: contain;
    background-repeat: no-repeat;
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);
    animation: spin 1s infinite steps(12, end);
}